<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<zero>
				<active>1</active>
				<model>Level\Zero\Model\Payment\Zero</model>
				<order_status>pending</order_status>
				<title>Zero</title>
				<allowspecific>0</allowspecific>
				<group>offline</group>
			</zero>
		</payment>
	</default>
</config>
